


/* New way of prioritization */
#bootstrap-overrides { /* 100+1=101 priority score, yay! */

font-family: 'Roboto';

}


/* ecological */ 


.eco1 {
  width: 25%;  /* only for demo, not really required */
  background-image: linear-gradient(to right, rgb(199,218,194) 0%, rgb(199,218,194) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  border-collapse: collapse; 
  border: none;
   width: 200px;
 
  font-size: 10pt;  color: dark; overflow:hidden;  text-align: left; width: 30% ; vertical-align: middle; 
  }



.eco2 {
  width: 10%;  /* only for demo, not really required */
  background-image: linear-gradient(to right,rgb(135,176,125) 0%, rgb(135,176,125) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
   border-collapse: collapse; 
   border: none;
   font-size: 10pt; color: white; overflow:hidden;  text-align: center; width: 30% ; vertical-align: middle; 
}

.eco3 {
  width: 10%;  /* only for demo, not really required */
  background-image: linear-gradient(to right,rgb(135,176,125) 0%, rgb(135,176,125) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
   border-collapse: collapse; 
   border: none; height: 50px;
   font-size: 10pt; color: white; overflow:hidden;  text-align: center; width: 30% ; vertical-align: middle;  padding: 15px;
}


/*#### social */ 



.soc1 {
  width: 25%;  /* only for demo, not really required */
  background-image: linear-gradient(to right, rgb(188,215,229) 0%, rgb(188,215,229) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  vertical-align: middle; 
     border-collapse: collapse; 
   border: none;
   
    width: 200px;
   font-size: 10pt;  color: dark; font-family: 'Roboto';   width: 500px; 
   }

.soc2 {
  width: 10%;  /* only for demo, not really required */
  background-image: linear-gradient(to right,rgb(107,172,199) 0%, rgb(107,172,199) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  
     border-collapse: collapse; 
	 border: none;
   
   font-size: 10pt;  color: white; overflow:hidden;  text-align: center; vertical-align: middle; 
}

.soc3 {
  width: 10%;  /* only for demo, not really required */
  background-image: linear-gradient(to right,rgb(107,172,199) 0%, rgb(107,172,199) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  
     border-collapse: collapse; 
	 border: none;
   height: 50px; 
   font-size: 10pt;  color: white; overflow:hidden;  text-align: center; vertical-align: middle;  padding: 15px;
}

/* ### economic */ 


.econ1 {
  width: 25%;  /* only for demo, not really required */
  background-image: linear-gradient(to right, rgb(234,229,182) 0%, rgb(234,229,182) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  border: none;
  
  width: 200px;
  
     font-size: 10pt;  color: dark;  vertical-align: middle; 
}

.econ2 {
  width: 10%;  /* only for demo, not really required */
  background-image: linear-gradient(to right, rgb(210,203,83) 0%, rgb(210,203,83) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  border: none;
  
     font-size: 10pt;  color: white; overflow:hidden;  text-align: center; vertical-align: middle; 
}

.econ3 {
  width: 10%;  /* only for demo, not really required */
  background-image: linear-gradient(to right, rgb(210,203,83) 0%, rgb(210,203,83) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  border: none;
  height: 50px;
     font-size: 10pt;  color: white; overflow:hidden;  text-align: center; vertical-align: middle;  padding: 15px;
}


/* ### other stuff */ 


.empty1 {
  width: 10%;  /* only for demo, not really required */
  background-image: black;  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  border: none;
  
}


.empty2 {
	 width: 10%;  /* only for demo, not really required */
    color: #fff;

}

table, td, th {    
    border: 0px ;
    text-align: left;
}


th, td {
   
    text-align: left;
}

html {
  background-color: #000000; 
}

body { background: #000000; vertical-align: middle;  }

.js-irs-0 .irs-bar {
border-top-color: #d01010;
border-bottom-color: #d01010;
} 

.js-irs-0 .irs-bar-edge {
border-color: #d01010;
}

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
background: #a00;
}

.js-irs-1 .irs-bar {
border-top-color: #10d010;
border-bottom-color: #10d010;
} 

.js-irs-1 .irs-bar-edge {
border-color: #10d010;
}

.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {
background: #0a0;
}

