.eco1 {
  width: 25%;  /* only for demo, not really required */
  background-image: linear-gradient(to right,rgb(135,176,125) 0%, rgb(135,176,125) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */

 
  font-family: Lato; font-size: 10pt;  color: white; overflow:hidden;padding:2px 3px 2px 3px; vertical-align:bottom; text-align: center;
}



.eco2 {
  width: 25%;  /* only for demo, not really required */
  background-image: linear-gradient(to right, rgb(199,218,194) 0%, rgb(199,218,194) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
   border-collapse: collapse; 
   
  font-family: Lato; font-size: 10pt;  color: dark;
}

.eco3 {
  width: 25%;  /* only for demo, not really required */
  background-image: linear-gradient(to right, rgba(0, 150, 0, 1) 0%, rgba(0, 175, 0, 1) 17%, rgba(0, 190, 0, 1) 33%, rgba(82, 210, 82, 1) 67%, rgba(131, 230, 131, 1) 83%, rgba(180, 221, 180, 1) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
}




.soc1 {
  width: 25%;  /* only for demo, not really required */
  background-image: linear-gradient(to right,rgb(107,172,199) 0%, rgb(107,172,199) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  
     border-collapse: collapse; 
   
  font-family: Lato; font-size: 10pt;  color: white; overflow:hidden;padding:2px 3px 2px 3px; vertical-align:bottom; text-align: center;
}

.soc2 {
  width: 25%;  /* only for demo, not really required */
  background-image: linear-gradient(to right, rgb(188,215,229) 0%, rgb(188,215,229) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  
     border-collapse: collapse; 
   
  font-family: Lato; font-size: 10pt;  color: dark;
}

.soc3 {
  width: 25%;  /* only for demo, not really required */
  background-image: linear-gradient(to right,rgb(107,172,199) 0%, rgb(107,172,199) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  
    font-family: Lato; font-size: 10pt;  color: dark;
}


.econ1 {
  width: 25%;  /* only for demo, not really required */
  background-image: linear-gradient(to right, rgb(234,229,182) 0%, rgb(234,229,182) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  
    font-family: Lato; font-size: 10pt;  color: dark;
}

.econ2 {
  width: 25%;  /* only for demo, not really required */
  background-image: linear-gradient(to right, rgb(210,203,83) 0%, rgb(210,203,83) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  
    font-family: Lato; font-size: 10pt;  color: white; overflow:hidden;padding:2px 3px 2px 3px; vertical-align:bottom; text-align: center;
}

.econ3 {
  width: 25%;  /* only for demo, not really required */
  background-image: linear-gradient(to right, rgba(0, 150, 0, 1) 0%, rgba(0, 175, 0, 1) 17%, rgba(0, 190, 0, 1) 33%, rgba(82, 210, 82, 1) 67%, rgba(131, 230, 131, 1) 83%, rgba(180, 221, 180, 1) 100%);  /* your gradient */
  background-repeat: no-repeat;  /* don't remove */
  
    font-family: Lato; font-size: 10pt;  color: dark;
}



html {
  background-color: #000000; 
}

body { background: #181818 !important; }