


.content-wrapper,
.right-side {
background-color: #000000;
}

.leafletOutput {
background-color:rgba(255,0,0,0.0);
}

body, label, input, button, select { 
font-family: "Calibri";
background-color: black;

/* logo */
.skin-blue .main-header .logo {
background-color: #000000;
}

/* logo when hovered */
.skin-blue .main-header .logo:hover {
background-color: #000000;
}

/* navbar (rest of the header) */
.skin-blue .main-header .navbar {
background-color: #000000;
}        

/* main sidebar */
.skin-blue .main-sidebar {
background-color: #ffffff;
}

/* active selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
background-color: #000000;
}

/* other links in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
background-color: #000000;
color: #000000;
}

/* other links in the sidebarmenu when hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
background-color: #000000;
}
/* toggle button when hovered  */                    
.skin-blue .main-header .navbar .sidebar-toggle:hover{
background-color: #ffffff;
}

.js-irs-0 .irs-bar {
border-top-color: #d01010;
border-bottom-color: #d01010;
} 

.js-irs-0 .irs-bar-edge {
border-color: #d01010;
}

.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {
background: #a00;
}

.js-irs-1 .irs-bar {
border-top-color: #10d010;
border-bottom-color: #10d010;
} 

.js-irs-1 .irs-bar-edge {
border-color: #10d010;
}

.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {
background: #0a0;
}
